<div class="navbar-nav w-100" id="bowel_left_nav_bar" style="display:none;">
    <a href="#" class="nav-item nav-link dropdown dropdown-toggle" data-toggle="dropdown" id="dropdownmenu14" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-heartbeat me-2"></i>Bowel sounds</a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark collapse" aria-labelledby="dropdownmenu14">
        <a type="button" class="dropdown-item text-wrap" href="#">Normal bowel sound</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Hyperactive sounds</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Hypoactive sounds</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Borborygmus</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Captement</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Peritoneal friction rub</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Normal bowel sound with bruits</a>
    </div>

    <a href="#" class="nav-item nav-link dropdown dropdown-toggle" data-toggle="dropdown" id="dropdownmenu15" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-heartbeat me-2"></i>Pathologies</a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark collapse" aria-labelledby="dropdownmenu15">
        <a type="button" class="dropdown-item text-wrap" href="#">Irritable bowel syndrome</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Diarrhea</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Bruits due to renal arteries stenosis</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Constipation</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Ulcerative colitis</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Crohn's disease</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Paralytic ileus</a>
    </div>
</div>