<div class="navbar-nav w-100" id="bowel_left_nav_bar" style="display:none;">
    <a href="#" class="nav-item nav-link dropdown dropdown-toggle" data-toggle="dropdown" id="dropdownmenu14" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-heartbeat me-2"></i>Bowel sounds</a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark collapse" aria-labelledby="dropdownmenu14">
        <button type="submit" name="normal_bowel_sound" id="normal_bowel_sound" class="btn dropdown-item text-wrap" href="#">Normal bowel sound</button>
        <button type="submit" name="hyperactive_sound" id="hyperactive_sound" class="btn dropdown-item text-wrap" href="#">Hyperactive sounds</button>
        <button type="submit" name="hypoactive_sound" id="hypoactive_sound" class="btn dropdown-item text-wrap" href="#">Hypoactive sounds</button>
        <button type="submit" name="borborygmus_sound" id="borborygmus_sound" class="btn dropdown-item text-wrap" href="#">Borborygmus</button>
        <button type="submit" name="captement_sound" id="captement_sound" class="btn dropdown-item text-wrap" href="#">Captement</button>
        <button type="submit" name="peritoneal_friction_rub_sound" id="peritoneal_friction_rub_sound" class="btn dropdown-item text-wrap" href="#">Peritoneal friction rub</button>
        <button type="submit" name="normal_bowel_sound_with_bruits_sound" id="normal_bowel_sound_with_bruits_sound" class="btn dropdown-item text-wrap" href="#">Normal bowel sound with bruits</button>
    </div>

    <a href="#" class="nav-item nav-link dropdown dropdown-toggle" data-toggle="dropdown" id="dropdownmenu15" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-heartbeat me-2"></i>Pathologies</a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark collapse" aria-labelledby="dropdownmenu15">
        <button type="submit" name="irritable_bowel_syndrome_sound" id="irritable_bowel_syndrome_sound" class="btn dropdown-item text-wrap" href="#">Irritable bowel syndrome</button>
        <button type="submit" name="diarrhea_sound" id="diarrhea_sound" class="btn dropdown-item text-wrap" href="#">Diarrhea</button>
        <button type="submit" name="bruits_due_to_renal_arteries_stenosis_sound" id="bruits_due_to_renal_arteries_stenosis_sound" class="btn dropdown-item text-wrap" href="#">Bruits due to renal arteries stenosis</button>
        <button type="submit" name="constipation_sound" id="constipation_sound" class="btn dropdown-item text-wrap" href="#">Constipation</button>
        <button type="submit" name="ulcerative_colitis_sound" id="ulcerative_colitis_sound" class="btn dropdown-item text-wrap" href="#">Ulcerative colitis</button>
        <button type="submit" name="crohns_disease_sound" id="crohns_disease_sound" class="btn dropdown-item text-wrap" href="#">Crohn's disease</button>
        <button type="submit" name="paralytic_ileus_sound" id="paralytic_ileus_sound" class="btn dropdown-item text-wrap" href="#">Paralytic ileus</button>
    </div>
</div>