<div class="navbar-nav w-100" id="lung_back_left_nav_bar" style="display:none;">
    <a href="#" class="nav-item nav-link dropdown dropdown-toggle" data-toggle="dropdown" id="dropdownmenu11" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-heartbeat me-2"></i>Normal breath sounds</a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark collapse" aria-labelledby="dropdownmenu11">
        <button type="submit" name="brochial_respiration_back_sound" id="brochial_respiration_back_sound" class="btn dropdown-item text-wrap">Brochial respiration</button>
        <button type="submit" name="bronchovesicular_respiration_back_sound" id="bronchovesicular_respiration_back_sound" class="btn dropdown-item text-wrap">Bronchovesicular respiration</button>
        <button type="submit" name="vesicular_respiration_back_sound" id="vesicular_respiration_back_sound" class="btn dropdown-item text-wrap">Vesicular respiration</button>
        <button type="submit" name="diminished_vescicular_respiration_back_sound" id="diminished_vescicular_respiration_back_sound" class="btn dropdown-item text-wrap">Diminished vesicular respiration</button>
    </div>

    <a href="#" class="nav-item nav-link dropdown dropdown-toggle" data-toggle="dropdown" id="dropdownmenu12" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-heartbeat me-2"></i>Adventitious sounds</a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark collapse" aria-labelledby="dropdownmenu12">
        <button type="submit" name="coarse_crackles_back_sound" id="coarse_crackles_back_sound" class="btn dropdown-item text-wrap">Coarse crackles</button>
        <button type="submit" name="fine_crackles_back_sound" id="fine_crackles_back_sound" class="btn dropdown-item text-wrap">Fine crackles</button>
        <button type="submit" name="wheezes_back_sound" id="wheezes_back_sound" class="btn dropdown-item text-wrap">Wheezes</button>
        <button type="submit" name="rhonchi_back_sound" id="rhonchi_back_sound" class="btn dropdown-item text-wrap">Rhonchi</button>
        <button type="submit" name="gurgling_rhonchi_back_sound" id="gurgling_rhonchi_back_sound" class="btn dropdown-item text-wrap">Gurgling rhonchi</button>
        <button type="submit" name="stridor_back_sound" id="stridor_back_sound" class="btn dropdown-item text-wrap">Stridor</button>
        <button type="submit" name="pleural_friction_rub_back_sound" id="pleural_friction_rub_back_sound" class="btn dropdown-item text-wrap">Pleural friction rub</button>
        <button type="submit" name="amphoric_respiration_back_sound" id="amphoric_respiration_back_sound" class="btn dropdown-item text-wrap">Amphoric respiration</button>
        <button type="submit" name="harsh_front_respiration_back_sound" id="harsh_respiration_back_sound" class="btn dropdown-item text-wrap">Harsh respiration</button>
    </div>

    <a href="#" class="nav-item nav-link dropdown dropdown-toggle" data-toggle="dropdown" id="dropdownmenu13" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-heartbeat me-2"></i>Pathologies</a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark collapse" aria-labelledby="dropdownmenu13">
        <button type="submit" name="asthma_back_sound" id="asthma_back_sound" class="btn dropdown-item text-wrap">Asthma</button>
        <button type="submit" name="covid19_back_sound" id="covid19_back_sound" class="btn dropdown-item text-wrap">Covid-19</button>
        <button type="submit" name="right_sided_pneumothorax_back_sound" id="right_sided_pneumothorax_back_sound" class="btn dropdown-item text-wrap">Right-sided pneumothorax</button>
        <button type="submit" name="left_sided_pneumothorax_back_sound" id="left_sided_pneumothorax_back_sound" class="btn dropdown-item text-wrap">Left-sided pneumothorax</button>
        <button type="submit" name="pneumonia_back_sound" id="pneumonia_back_sound" class="btn dropdown-item text-wrap">Pneumonia</button>
    </div>
</div>