<div class="navbar-nav w-100" id="lung_front_left_nav_bar" style="display:none;">
    <a href="#" class="nav-item nav-link dropdown dropdown-toggle" data-toggle="dropdown" id="dropdownmenu8" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-heartbeat me-2"></i>Normal breath sounds</a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark collapse" aria-labelledby="dropdownmenu8">
        <button type="submit" name="brochial_respiration_front_sound" id="brochial_respiration_front_sound" class="btn dropdown-item text-wrap">Brochial respiration</button>
        <button type="submit" name="bronchovesicular_respiration_front_sound" id="bronchovesicular_respiration_front_sound" class="btn dropdown-item text-wrap">Bronchovesicular respiration</button>
        <button type="submit" name="vesicular_respiration_front_sound" id="vesicular_respiration_front_sound" class="btn dropdown-item text-wrap">Vesicular respiration</button>
        <button type="submit" name="diminished_vescicular_respiration_front_sound" id="diminished_vescicular_respiration_front_sound" class="btn dropdown-item text-wrap">Diminished vesicular respiration</button>
    </div>

    <a href="#" class="nav-item nav-link dropdown dropdown-toggle" data-toggle="dropdown" id="dropdownmenu9" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-heartbeat me-2"></i>Adventitious sounds</a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark collapse" aria-labelledby="dropdownmenu9">
        <button type="submit" name="coarse_crackles_front_sound" id="coarse_crackles_front_sound" class="btn dropdown-item text-wrap">Coarse crackles</button>
        <button type="submit" name="fine_crackles_front_sound" id="fine_crackles_front_sound" class="btn dropdown-item text-wrap">Fine crackles</button>
        <button type="submit" name="wheezes_front_sound" id="wheezes_front_sound" class="btn dropdown-item text-wrap">Wheezes</button>
        <button type="submit" name="rhonchi_front_sound" id="rhonchi_front_sound" class="btn dropdown-item text-wrap">Rhonchi</button>
        <button type="submit" name="gurgling_rhonchi_front_sound" id="gurgling_rhonchi_front_sound" class="btn dropdown-item text-wrap">Gurgling rhonchi</button>
        <button type="submit" name="stridor_front_sound" id="stridor_front_sound" class="btn dropdown-item text-wrap">Stridor</button>
        <button type="submit" name="pleural_friction_rub_front_sound" id="pleural_friction_rub_front_sound" class="btn dropdown-item text-wrap">Pleural friction rub</button>
        <button type="submit" name="amphoric_respiration_front_sound" id="amphoric_respiration_front_sound" class="btn dropdown-item text-wrap">Amphoric respiration</button>
        <button type="submit" name="harsh_front_respiration_front_sound" id="harsh_respiration_front_sound" class="btn dropdown-item text-wrap">Harsh respiration</button>
    </div>

    <a href="#" class="nav-item nav-link dropdown dropdown-toggle" data-toggle="dropdown" id="dropdownmenu10" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-heartbeat me-2"></i>Pathologies</a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark collapse" aria-labelledby="dropdownmenu10">
        <button type="submit" name="asthma_front_sound" id="asthma_front_sound" class="btn dropdown-item text-wrap">Asthma</button>
        <button type="submit" name="covid19_front_sound" id="covid19_front_sound" class="btn dropdown-item text-wrap">Covid-19</button>
        <button type="submit" name="right_sided_pneumothorax_front_sound" id="right_sided_pneumothorax_front_sound" class="btn dropdown-item text-wrap">Right-sided pneumothorax</button>
        <button type="submit" name="left_sided_pneumothorax_front_sound" id="left_sided_pneumothorax_front_sound" class="btn dropdown-item text-wrap">Left-sided pneumothorax</button>
        <button type="submit" name="pneumonia_front_sound" id="pneumonia_front_sound" class="btn dropdown-item text-wrap">Pneumonia</button>
    </div>
</div>