{% load plotly_dash %}
<div class="row" id="hbr_div" style="display:none;">
    {% plotly_app name="No_Audio" ratio=0.3 %}
</div>

<!--
<div class="row" id="Acute_Myocardial_Infarction_Aortic_div" style="display:none;">
    {% plotly_app name="Acute_Myocardial_Infaction_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Acute_Myocardial_Infarction_Erb_div" style="display:none;">
    {% plotly_app name="Acute_Myocardial_Infaction_Erb" ratio=0.3 %}
</div>


<div class="row" id="Acute_Myocardial_Infarction_Mitral_div" style="display:none;">
    {% plotly_app name="Acute_Myocardial_Infaction_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Acute_Myocardial_Infarction_Pulmonary_div" style="display:none;">
    {% plotly_app name="Acute_Myocardial_Infaction_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Acute_Myocardial_Infarction_Tricuspid_div" style="display:none;">
    {% plotly_app name="Acute_Myocardial_Infaction_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Acute_Pericarditis_Aortic_div" style="display:none;">
    {% plotly_app name="Acute_Pericarditis_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Acute_Pericarditis_Erb_div" style="display:none;">
    {% plotly_app name="Acute_Pericarditis_Erb" ratio=0.3 %}
</div>


<div class="row" id="Acute_Pericarditis_Mitral_div" style="display:none;">
    {% plotly_app name="Acute_Pericarditis_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Acute_Pericarditis_Pulmonary_div" style="display:none;">
    {% plotly_app name="Acute_Pericarditis_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Acute_Pericarditis_Tricuspid_div" style="display:none;">
    {% plotly_app name="Acute_Pericarditis_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Aortic_Valve_Regurgitation_Aortic_div" style="display:none;">
    {% plotly_app name="Aortic_Valve_Regurgitation_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Aortic_Valve_Regurgitation_Erb_div" style="display:none;">
    {% plotly_app name="Aortic_Valve_Regurgitation_Erb" ratio=0.3 %}
</div>


<div class="row" id="Aortic_Valve_Regurgitation_Mitral_div" style="display:none;">
    {% plotly_app name="Aortic_Valve_Regurgitation_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Aortic_Valve_Regurgitation_Pulmonary_div" style="display:none;">
    {% plotly_app name="Aortic_Valve_Regurgitation_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Aortic_Valve_Regurgitation_Tricuspid_div" style="display:none;">
    {% plotly_app name="Aortic_Valve_Regurgitation_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Aortic_Valve_Stenosis_Aortic_div" style="display:none;">
    {% plotly_app name="Aortic_Valve_Stenosis_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Aortic_Valve_Stenosis_Erb_div" style="display:none;">
    {% plotly_app name="Aortic_Valve_Stenosis_Erb" ratio=0.3 %}
</div>


<div class="row" id="Aortic_Valve_Stenosis_Mitral_div" style="display:none;">
    {% plotly_app name="Aortic_Valve_Stenosis_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Aortic_Valve_Stenosis_Pulmonary_div" style="display:none;">
    {% plotly_app name="Aortic_Valve_Stenosis_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Aortic_Valve_Stenosis_Tricuspid_div" style="display:none;">
    {% plotly_app name="Aortic_Valve_Stenosis_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Aortic_Valve_Stenosis_Regurgitation_Aortic_div" style="display:none;">
    {% plotly_app name="Aortic_Valve_Stenosis_Regurgitation_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Aortic_Valve_Stenosis_Regurgitation_Erb_div" style="display:none;">
    {% plotly_app name="Aortic_Valve_Stenosis_Regurgitation_Erb" ratio=0.3 %}
</div>


<div class="row" id="Aortic_Valve_Stenosis_Regurgitation_Mitral_div" style="display:none;">
    {% plotly_app name="Aortic_Valve_Stenosis_Regurgitation_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Aortic_Valve_Stenosis_Regurgitation_Pulmonary_div" style="display:none;">
    {% plotly_app name="Aortic_Valve_Stenosis_Regurgitation_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Aortic_Valve_Stenosis_Regurgitation_Tricuspid_div" style="display:none;">
    {% plotly_app name="Aortic_Valve_Stenosis_Regurgitation_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Atrial_Septal_Defect_Aortic_div" style="display:none;">
    {% plotly_app name="Atrial_Septal_Defect_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Atrial_Septal_Defect_Erb_div" style="display:none;">
    {% plotly_app name="Atrial_Septal_Defect_Erb" ratio=0.3 %}
</div>


<div class="row" id="Atrial_Septal_Defect_Mitral_div" style="display:none;">
    {% plotly_app name="Atrial_Septal_Defect_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Atrial_Septal_Defect_Pulmonary_div" style="display:none;">
    {% plotly_app name="Atrial_Septal_Defect_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Atrial_Septal_Defect_Tricuspid_div" style="display:none;">
    {% plotly_app name="Atrial_Septal_Defect_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Austin_Flint_Murmur_Aortic_div" style="display:none;">
    {% plotly_app name="Austin_Flint_Murmur_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Austin_Flint_Murmur_Erb_div" style="display:none;">
    {% plotly_app name="Austin_Flint_Murmur_Erb" ratio=0.3 %}
</div>


<div class="row" id="Austin_Flint_Murmur_Mitral_div" style="display:none;">
    {% plotly_app name="Austin_Flint_Murmur_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Austin_Flint_Murmur_Pulmonary_div" style="display:none;">
    {% plotly_app name="Austin_Flint_Murmur_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Austin_Flint_Murmur_Tricuspid_div" style="display:none;">
    {% plotly_app name="Austin_Flint_Murmur_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Coarctation_Of_The_Aorta_Aortic_div" style="display:none;">
    {% plotly_app name="Coarctation_of_the_Aorta_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Coarctation_Of_The_Aorta_Erb_div" style="display:none;">
    {% plotly_app name="Coarctation_of_the_Aorta_Erb" ratio=0.3 %}
</div>


<div class="row" id="Coarctation_Of_The_Aorta_Mitral_div" style="display:none;">
    {% plotly_app name="Coarctation_of_the_Aorta_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Coarctation_Of_The_Aorta_Pulmonary_div" style="display:none;">
    {% plotly_app name="Coarctation_of_the_Aorta_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Coarctation_Of_The_Aorta_Tricuspid_div" style="display:none;">
    {% plotly_app name="Coarctation_of_the_Aorta_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Congenital_Aortic_Stenosis_Aortic_div" style="display:none;">
    {% plotly_app name="Congenital_Aortic_Stenosis_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Congenital_Aortic_Stenosis_Erb_div" style="display:none;">
    {% plotly_app name="Congenital_Aortic_Stenosis_Erb" ratio=0.3 %}
</div>


<div class="row" id="Congenital_Aortic_Stenosis_Mitral_div" style="display:none;">
    {% plotly_app name="Congenital_Aortic_Stenosis_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Congenital_Aortic_Stenosis_Pulmonary_div" style="display:none;">
    {% plotly_app name="Congenital_Aortic_Stenosis_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Congenital_Aortic_Stenosis_Tricuspid_div" style="display:none;">
    {% plotly_app name="Congenital_Aortic_Stenosis_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Congestive_Heart_Failure_Aortic_div" style="display:none;">
    {% plotly_app name="Congestive_Heart_Failure_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Congestive_Heart_Failure_Erb_div" style="display:none;">
    {% plotly_app name="Congestive_Heart_Failure_Erb" ratio=0.3 %}
</div>


<div class="row" id="Congestive_Heart_Failure_Mitral_div" style="display:none;">
    {% plotly_app name="Congestive_Heart_Failure_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Congestive_Heart_Failure_Pulmonary_div" style="display:none;">
    {% plotly_app name="Congestive_Heart_Failure_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Congestive_Heart_Failure_Tricuspid_div" style="display:none;">
    {% plotly_app name="Congestive_Heart_Failure_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Continuous_Murmur_Aortic_div" style="display:none;">
    {% plotly_app name="Continuous_Murmur_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Continuous_Murmur_Erb_div" style="display:none;">
    {% plotly_app name="Continuous_Murmur_Erb" ratio=0.3 %}
</div>


<div class="row" id="Continuous_Murmur_Mitral_div" style="display:none;">
    {% plotly_app name="Continuous_Murmur_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Continuous_Murmur_Pulmonary_div" style="display:none;">
    {% plotly_app name="Continuous_Murmur_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Continuous_Murmur_Tricuspid_div" style="display:none;">
    {% plotly_app name="Continuous_Murmur_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Diastolic_Murmur_Aortic_div" style="display:none;">
    {% plotly_app name="Diastolic_Murmur_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Diastolic_Murmur_Erb_div" style="display:none;">
    {% plotly_app name="Diastolic_Murmur_Erb" ratio=0.3 %}
</div>


<div class="row" id="Diastolic_Murmur_Mitral_div" style="display:none;">
    {% plotly_app name="Diastolic_Murmur_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Diastolic_Murmur_Pulmonary_div" style="display:none;">
    {% plotly_app name="Diastolic_Murmur_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Diastolic_Murmur_Tricuspid_div" style="display:none;">
    {% plotly_app name="Diastolic_Murmur_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Dilated_Cardiomyopathy_Aortic_div" style="display:none;">
    {% plotly_app name="Dialated_Cardiomyopathy_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Dilated_Cardiomyopathy_Erb_div" style="display:none;">
    {% plotly_app name="Dialated_Cardiomyopathy_Erb" ratio=0.3 %}
</div>


<div class="row" id="Dilated_Cardiomyopathy_Mitral_div" style="display:none;">
    {% plotly_app name="Dialated_Cardiomyopathy_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Dilated_Cardiomyopathy_Pulmonary_div" style="display:none;">
    {% plotly_app name="Dialated_Cardiomyopathy_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Dilated_Cardiomyopathy_Tricuspid_div" style="display:none;">
    {% plotly_app name="Dialated_Cardiomyopathy_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Early_Systolic_Murmur_Aortic_div" style="display:none;">
    {% plotly_app name="Early_Systolic_Murmur_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Early_Systolic_Murmur_Erb_div" style="display:none;">
    {% plotly_app name="Early_Systolic_Murmur_Erb" ratio=0.3 %}
</div>


<div class="row" id="Early_Systolic_Murmur_Mitral_div" style="display:none;">
    {% plotly_app name="Early_Systolic_Murmur_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Early_Systolic_Murmur_Pulmonary_div" style="display:none;">
    {% plotly_app name="Early_Systolic_Murmur_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Early_Systolic_Murmur_Tricuspid_div" style="display:none;">
    {% plotly_app name="Early_Systolic_Murmur_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Ebstein_Anomaly_Aortic_div" style="display:none;">
    {% plotly_app name="Ebstein_Anomaly_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Ebstein_Anomaly_Erb_div" style="display:none;">
    {% plotly_app name="Ebstein_Anomaly_Erb" ratio=0.3 %}
</div>


<div class="row" id="Ebstein_Anomaly_Mitral_div" style="display:none;">
    {% plotly_app name="Ebstein_Anomaly_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Ebstein_Anomaly_Pulmonary_div" style="display:none;">
    {% plotly_app name="Ebstein_Anomaly_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Ebstein_Anomaly_Tricuspid_div" style="display:none;">
    {% plotly_app name="Ebstein_Anomaly_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Fourth_Heart_Aortic_div" style="display:none;">
    {% plotly_app name="Fourth_Heart_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Fourth_Heart_Erb_div" style="display:none;">
    {% plotly_app name="Fourth_Heart_Erb" ratio=0.3 %}
</div>


<div class="row" id="Fourth_Heart_Mitral_div" style="display:none;">
    {% plotly_app name="Fourth_Heart_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Fourth_Heart_Pulmonary_div" style="display:none;">
    {% plotly_app name="Fourth_Heart_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Fourth_Heart_Tricuspid_div" style="display:none;">
    {% plotly_app name="Fourth_Heart_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Functional_Murmur_Aortic_div" style="display:none;">
    {% plotly_app name="Functional_Murmur_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Functional_Murmur_Erb_div" style="display:none;">
    {% plotly_app name="Functional_Murmur_Erb" ratio=0.3 %}
</div>


<div class="row" id="Functional_Murmur_Mitral_div" style="display:none;">
    {% plotly_app name="Functional_Murmur_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Functional_Murmur_Pulmonary_div" style="display:none;">
    {% plotly_app name="Functional_Murmur_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Functional_Murmur_Tricuspid_div" style="display:none;">
    {% plotly_app name="Functional_Murmur_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Graham_Steell_Murmur_Aortic_div" style="display:none;">
    {% plotly_app name="Graham_Steell_Murmur_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Graham_Steell_Murmur_Erb_div" style="display:none;">
    {% plotly_app name="Graham_Steell_Murmur_Erb" ratio=0.3 %}
</div>


<div class="row" id="Graham_Steell_Murmur_Mitral_div" style="display:none;">
    {% plotly_app name="Graham_Steell_Murmur_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Graham_Steell_Murmur_Pulmonary_div" style="display:none;">
    {% plotly_app name="Graham_Steell_Murmur_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Graham_Steell_Murmur_Tricuspid_div" style="display:none;">
    {% plotly_app name="Graham_Steell_Murmur_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Holosystolic_Murmur_Aortic_div" style="display:none;">
    {% plotly_app name="Holosystolic_Murmur_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Holosystolic_Murmur_Erb_div" style="display:none;">
    {% plotly_app name="Holosystolic_Murmur_Erb" ratio=0.3 %}
</div>


<div class="row" id="Holosystolic_Murmur_Mitral_div" style="display:none;">
    {% plotly_app name="Holosystolic_Murmur_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Holosystolic_Murmur_Pulmonary_div" style="display:none;">
    {% plotly_app name="Holosystolic_Murmur_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Holosystolic_Murmur_Tricuspid_div" style="display:none;">
    {% plotly_app name="Holosystolic_Murmur_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Hypertrophic_Cardiomyopathy_Aortic_div" style="display:none;">
    {% plotly_app name="Hypertrophic_Cardiomyopathy_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Hypertrophic_Cardiomyopathy_Erb_div" style="display:none;">
    {% plotly_app name="Hypertrophic_Cardiomyopathy_Erb" ratio=0.3 %}
</div>


<div class="row" id="Hypertrophic_Cardiomyopathy_Mitral_div" style="display:none;">
    {% plotly_app name="Hypertrophic_Cardiomyopathy_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Hypertrophic_Cardiomyopathy_Pulmonary_div" style="display:none;">
    {% plotly_app name="Hypertrophic_Cardiomyopathy_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Hypertrophic_Cardiomyopathy_Tricuspid_div" style="display:none;">
    {% plotly_app name="Hypertrophic_Cardiomyopathy_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Mid_Systolic_Murmur_Aortic_div" style="display:none;">
    {% plotly_app name="Mid_Systolic_Murmur_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Mid_Systolic_Murmur_Erb_div" style="display:none;">
    {% plotly_app name="Mid_Systolic_Murmur_Erb" ratio=0.3 %}
</div>


<div class="row" id="Mid_Systolic_Murmur_Mitral_div" style="display:none;">
    {% plotly_app name="Mid_Systolic_Murmur_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Mid_Systolic_Murmur_Pulmonary_div" style="display:none;">
    {% plotly_app name="Mid_Systolic_Murmur_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Mid_Systolic_Murmur_Tricuspid_div" style="display:none;">
    {% plotly_app name="Mid_Systolic_Murmur_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Stenosis_Regurgitation_Aortic_div" style="display:none;">
    {% plotly_app name="Mitral_Stenosis_Regurgitation_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Stenosis_Regurgitation_Erb_div" style="display:none;">
    {% plotly_app name="Mitral_Stenosis_Regurgitation_Erb" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Stenosis_Regurgitation_Mitral_div" style="display:none;">
    {% plotly_app name="Mitral_Stenosis_Regurgitation_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Stenosis_Regurgitation_Pulmonary_div" style="display:none;">
    {% plotly_app name="Mitral_Stenosis_Regurgitation_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Stenosis_Regurgitation_Tricuspid_div" style="display:none;">
    {% plotly_app name="Mitral_Stenosis_Regurgitation_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Stenosis_Tricuspid_Regurgitation_Aortic_div" style="display:none;">
    {% plotly_app name="Mitral_Stenosis_Tricuspid_Regurgitation_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Stenosis_Tricuspid_Regurgitation_Erb_div" style="display:none;">
    {% plotly_app name="Mitral_Stenosis_Tricuspid_Regurgitation_Erb" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Stenosis_Tricuspid_Regurgitation_Mitral_div" style="display:none;">
    {% plotly_app name="Mitral_Stenosis_Tricuspid_Regurgitation_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Stenosis_Tricuspid_Regurgitation_Pulmonary_div" style="display:none;">
    {% plotly_app name="Mitral_Stenosis_Tricuspid_Regurgitation_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Stenosis_Tricuspid_Regurgitation_Tricuspid_div" style="display:none;">
    {% plotly_app name="Mitral_Stenosis_Tricuspid_Regurgitation_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Valve_Prelapse_Aortic_div" style="display:none;">
    {% plotly_app name="Mitral_Valve_Prelapse_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Valve_Prelapse_Erb_div" style="display:none;">
    {% plotly_app name="Mitral_Valve_Prelapse_Erb" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Valve_Prelapse_Mitral_div" style="display:none;">
    {% plotly_app name="Mitral_Valve_Prelapse_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Valve_Prelapse_Pulmonary_div" style="display:none;">
    {% plotly_app name="Mitral_Valve_Prelapse_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Valve_Prelapse_Tricuspid_div" style="display:none;">
    {% plotly_app name="Mitral_Valve_Prelapse_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Valve_Regurgitation_Aortic_div" style="display:none;">
    {% plotly_app name="Mitral_Valve_Regurgitation_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Valve_Regurgitation_Erb_div" style="display:none;">
    {% plotly_app name="Mitral_Valve_Regurgitation_Erb" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Valve_Regurgitation_Mitral_div" style="display:none;">
    {% plotly_app name="Mitral_Valve_Regurgitation_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Valve_Regurgitation_Pulmonary_div" style="display:none;">
    {% plotly_app name="Mitral_Valve_Regurgitation_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Valve_Regurgitation_Tricuspid_div" style="display:none;">
    {% plotly_app name="Mitral_Valve_Regurgitation_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Valve_Stenosis_Aortic_div" style="display:none;">
    {% plotly_app name="Mitral_Valve_Stenosis_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Valve_Stenosis_Erb_div" style="display:none;">
    {% plotly_app name="Mitral_Valve_Stenosis_Erb" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Valve_Stenosis_Mitral_div" style="display:none;">
    {% plotly_app name="Mitral_Valve_Stenosis_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Valve_Stenosis_Pulmonary_div" style="display:none;">
    {% plotly_app name="Mitral_Valve_Stenosis_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Mitral_Valve_Stenosis_Tricuspid_div" style="display:none;">
    {% plotly_app name="Mitral_Valve_Stenosis_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Normal_Heart_Aortic_div" style="display:none;">
    {% plotly_app name="Normal_Heart_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Normal_Heart_Erb_div" style="display:none;">
    {% plotly_app name="Normal_Heart_Erb" ratio=0.3 %}
</div>


<div class="row" id="Normal_Heart_Mitral_div" style="display:none;">
    {% plotly_app name="Normal_Heart_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Normal_Heart_Pulmonary_div" style="display:none;">
    {% plotly_app name="Normal_Heart_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Normal_Heart_Tricuspid_div" style="display:none;">
    {% plotly_app name="Normal_Heart_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Opening_Snap_Aortic_div" style="display:none;">
    {% plotly_app name="Opening_Snap_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Opening_Snap_Erb_div" style="display:none;">
    {% plotly_app name="Opening_Snap_Erb" ratio=0.3 %}
</div>


<div class="row" id="Opening_Snap_Mitral_div" style="display:none;">
    {% plotly_app name="Opening_Snap_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Opening_Snap_Pulmonary_div" style="display:none;">
    {% plotly_app name="Opening_Snap_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Opening_Snap_Tricuspid_div" style="display:none;">
    {% plotly_app name="Opening_Snap_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Patent_Ductus_Arteriosus_Aortic_div" style="display:none;">
    {% plotly_app name="Patent_Ductus_Arteriosus_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Patent_Ductus_Arteriosus_Erb_div" style="display:none;">
    {% plotly_app name="Patent_Ductus_Arteriosus_Erb" ratio=0.3 %}
</div>


<div class="row" id="Patent_Ductus_Arteriosus_Mitral_div" style="display:none;">
    {% plotly_app name="Patent_Ductus_Arteriosus_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Patent_Ductus_Arteriosus_Pulmonary_div" style="display:none;">
    {% plotly_app name="Patent_Ductus_Arteriosus_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Patent_Ductus_Arteriosus_Tricuspid_div" style="display:none;">
    {% plotly_app name="Patent_Ductus_Arteriosus_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Pericardial_Rub_Aortic_div" style="display:none;">
    {% plotly_app name="Pericardial_Rub_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Pericardial_Rub_Erb_div" style="display:none;">
    {% plotly_app name="Pericardial_Rub_Erb" ratio=0.3 %}
</div>


<div class="row" id="Pericardial_Rub_Mitral_div" style="display:none;">
    {% plotly_app name="Pericardial_Rub_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Pericardial_Rub_Pulmonary_div" style="display:none;">
    {% plotly_app name="Pericardial_Rub_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Pericardial_Rub_Tricuspid_div" style="display:none;">
    {% plotly_app name="Pericardial_Rub_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Pulmonary_Hypertension_Aortic_div" style="display:none;">
    {% plotly_app name="Pulmonary_Hypertension_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Pulmonary_Hypertension_Erb_div" style="display:none;">
    {% plotly_app name="Pulmonary_Hypertension_Erb" ratio=0.3 %}
</div>


<div class="row" id="Pulmonary_Hypertension_Mitral_div" style="display:none;">
    {% plotly_app name="Pulmonary_Hypertension_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Pulmonary_Hypertension_Pulmonary_div" style="display:none;">
    {% plotly_app name="Pulmonary_Hypertension_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Pulmonary_Hypertension_Tricuspid_div" style="display:none;">
    {% plotly_app name="Pulmonary_Hypertension_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Pulmonary_Valve_Regurgitation_Aortic_div" style="display:none;">
    {% plotly_app name="Pulmonary_Valve_Regurgitation_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Pulmonary_Valve_Regurgitation_Erb_div" style="display:none;">
    {% plotly_app name="Pulmonary_Valve_Regurgitation_Erb" ratio=0.3 %}
</div>


<div class="row" id="Pulmonary_Valve_Regurgitation_Mitral_div" style="display:none;">
    {% plotly_app name="Pulmonary_Valve_Regurgitation_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Pulmonary_Valve_Regurgitation_Pulmonary_div" style="display:none;">
    {% plotly_app name="Pulmonary_Valve_Regurgitation_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Pulmonary_Valve_Regurgitation_Tricuspid_div" style="display:none;">
    {% plotly_app name="Pulmonary_Valve_Regurgitation_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Pulmonary_Valve_Stenosis_Aortic_div" style="display:none;">
    {% plotly_app name="Pulmonary_Valve_Stenosis_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Pulmonary_Valve_Stenosis_Erb_div" style="display:none;">
    {% plotly_app name="Pulmonary_Valve_Stenosis_Erb" ratio=0.3 %}
</div>


<div class="row" id="Pulmonary_Valve_Stenosis_Mitral_div" style="display:none;">
    {% plotly_app name="Pulmonary_Valve_Stenosis_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Pulmonary_Valve_Stenosis_Pulmonary_div" style="display:none;">
    {% plotly_app name="Pulmonary_Valve_Stenosis_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Pulmonary_Valve_Stenosis_Tricuspid_div" style="display:none;">
    {% plotly_app name="Pulmonary_Valve_Stenosis_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Split_First_Heart_Aortic_div" style="display:none;">
    {% plotly_app name="Split_First_Heart_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Split_First_Heart_Erb_div" style="display:none;">
    {% plotly_app name="Split_First_Heart_Erb" ratio=0.3 %}
</div>


<div class="row" id="Split_First_Heart_Mitral_div" style="display:none;">
    {% plotly_app name="Split_First_Heart_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Split_First_Heart_Pulmonary_div" style="display:none;">
    {% plotly_app name="Split_First_Heart_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Split_First_Heart_Tricuspid_div" style="display:none;">
    {% plotly_app name="Split_First_Heart_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Split_Second_Heart_Aortic_div" style="display:none;">
    {% plotly_app name="Split_Second_Heart_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Split_Second_Heart_Erb_div" style="display:none;">
    {% plotly_app name="Split_Second_Heart_Erb" ratio=0.3 %}
</div>


<div class="row" id="Split_Second_Heart_Mitral_div" style="display:none;">
    {% plotly_app name="Split_Second_Heart_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Split_Second_Heart_Pulmonary_div" style="display:none;">
    {% plotly_app name="Split_Second_Heart_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Split_Second_Heart_Tricuspid_div" style="display:none;">
    {% plotly_app name="Split_Second_Heart_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Systemic_Hypertension_Aortic_div" style="display:none;">
    {% plotly_app name="Systemic_Hypertension_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Systemic_Hypertension_Erb_div" style="display:none;">
    {% plotly_app name="Systemic_Hypertension_Erb" ratio=0.3 %}
</div>


<div class="row" id="Systemic_Hypertension_Mitral_div" style="display:none;">
    {% plotly_app name="Systemic_Hypertension_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Systemic_Hypertension_Pulmonary_div" style="display:none;">
    {% plotly_app name="Systemic_Hypertension_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Systemic_Hypertension_Tricuspid_div" style="display:none;">
    {% plotly_app name="Systemic_Hypertension_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Tetralogy_Of_Fallot_Aortic_div" style="display:none;">
    {% plotly_app name="Tetralogy_of_Fallot_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Tetralogy_Of_Fallot_Erb_div" style="display:none;">
    {% plotly_app name="Tetralogy_of_Fallot_Erb" ratio=0.3 %}
</div>


<div class="row" id="Tetralogy_Of_Fallot_Mitral_div" style="display:none;">
    {% plotly_app name="Tetralogy_of_Fallot_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Tetralogy_Of_Fallot_Pulmonary_div" style="display:none;">
    {% plotly_app name="Tetralogy_of_Fallot_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Tetralogy_Of_Fallot_Tricuspid_div" style="display:none;">
    {% plotly_app name="Tetralogy_of_Fallot_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Third_Heart_Aortic_div" style="display:none;">
    {% plotly_app name="Third_Heart_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Third_Heart_Erb_div" style="display:none;">
    {% plotly_app name="Third_Heart_Erb" ratio=0.3 %}
</div>


<div class="row" id="Third_Heart_Mitral_div" style="display:none;">
    {% plotly_app name="Third_Heart_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Third_Heart_Pulmonary_div" style="display:none;">
    {% plotly_app name="Third_Heart_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Third_Heart_Tricuspid_div" style="display:none;">
    {% plotly_app name="Third_Heart_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Tricuspid_Valve_Regurgitation_Aortic_div" style="display:none;">
    {% plotly_app name="Tricuspid_Valve_Regurgitation_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Tricuspid_Valve_Regurgitation_Erb_div" style="display:none;">
    {% plotly_app name="Tricuspid_Valve_Regurgitation_Erb" ratio=0.3 %}
</div>


<div class="row" id="Tricuspid_Valve_Regurgitation_Mitral_div" style="display:none;">
    {% plotly_app name="Tricuspid_Valve_Regurgitation_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Tricuspid_Valve_Regurgitation_Pulmonary_div" style="display:none;">
    {% plotly_app name="Tricuspid_Valve_Regurgitation_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Tricuspid_Valve_Regurgitation_Tricuspid_div" style="display:none;">
    {% plotly_app name="Tricuspid_Valve_Regurgitation_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Ventricular_Aneurysm_Aortic_div" style="display:none;">
    {% plotly_app name="Ventricular_Aneurysm_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Ventricular_Aneurysm_Erb_div" style="display:none;">
    {% plotly_app name="Ventricular_Aneurysm_Erb" ratio=0.3 %}
</div>


<div class="row" id="Ventricular_Aneurysm_Mitral_div" style="display:none;">
    {% plotly_app name="Ventricular_Aneurysm_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Ventricular_Aneurysm_Pulmonary_div" style="display:none;">
    {% plotly_app name="Ventricular_Aneurysm_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Ventricular_Aneurysm_Tricuspid_div" style="display:none;">
    {% plotly_app name="Ventricular_Aneurysm_Tricuspid" ratio=0.3 %}
</div>


<div class="row" id="Ventricular_Septal_Defect_Aortic_div" style="display:none;">
    {% plotly_app name="Ventricular_Septal_Defect_Aortic" ratio=0.3 %}
</div>


<div class="row" id="Ventricular_Septal_Defect_Erb_div" style="display:none;">
    {% plotly_app name="Ventricular_Septal_Defect_Erb" ratio=0.3 %}
</div>


<div class="row" id="Ventricular_Septal_Defect_Mitral_div" style="display:none;">
    {% plotly_app name="Ventricular_Septal_Defect_Mitral" ratio=0.3 %}
</div>


<div class="row" id="Ventricular_Septal_Defect_Pulmonary_div" style="display:none;">
    {% plotly_app name="Ventricular_Septal_Defect_Pulmonary" ratio=0.3 %}
</div>


<div class="row" id="Ventricular_Septal_Defect_Tricuspid_div" style="display:none;">
    {% plotly_app name="Ventricular_Septal_Defect_Tricuspid" ratio=0.3 %}
</div>
-->

