<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
        <div class="col-auto">
            <button type="submit" name="hr_plus" class="btn btn-link btn-outline-danger" id="hr_plus" data-mdb-ripple-color="dark"><i class="fa fa-plus"></i></button>
        </div>
        <div class="col-auto">
            <div class="card text-info bg-dark">
                <div class="card-body">
                    <p class="card-text font-weight-bold text-success" style="transition: 0.5s;" id="hr_show">{{ hr_show }}</p>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" name="hr_minus" class="btn btn-link btn-outline-danger" id="hr_minus" data-mdb-ripple-color="dark"><i class="fa fa-minus"></i></button>
        </div>
    </div>
</form>