<div class="navbar-nav w-100" id="lung_front_nav_bar" style="display:none;">
    <a href="#" class="nav-item nav-link dropdown dropdown-toggle" data-toggle="dropdown" id="dropdownmenu8" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-heartbeat me-2"></i>Normal breath sounds</a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark collapse" aria-labelledby="dropdownmenu8">
        <a type="button" class="dropdown-item text-wrap" href="#">Brochial respiration</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Bronchovesicular respiration</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Vesicular respiration</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Diminished vesicular respiration</a>
    </div>

    <a href="#" class="nav-item nav-link dropdown dropdown-toggle" data-toggle="dropdown" id="dropdownmenu9" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-heartbeat me-2"></i>Adventitious sounds</a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark collapse" aria-labelledby="dropdownmenu9">
        <a type="button" class="dropdown-item text-wrap" href="#">Coarse crackles</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Fine crackles</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Wheezes</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Rhonchi</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Gurgling rhonchi</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Stridor</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Pleural friction rub</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Amphoric respiration</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Harsh respiration</a>
    </div>

    <a href="#" class="nav-item nav-link dropdown dropdown-toggle" data-toggle="dropdown" id="dropdownmenu10" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-heartbeat me-2"></i>Pathologies</a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark collapse" aria-labelledby="dropdownmenu10">
        <a type="button" class="dropdown-item text-wrap" href="#">Asthma</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Covid-19</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Right-sided pneumothorax</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Left-sided pneumothorax</a>
        <a type="button" class="dropdown-item text-wrap" href="#">Pneumonia</a>
    </div>
</div>