<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <!-- Normal Heart Sound -->
    <div id="normal_heart_sound_volume">
        <div class="row">
            <div class="col-4">
                <button type="submit" name="normal_heart_sound_mitral_valve" id="normal_heart_sound_mitral_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Mitral valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="normal_heart_sound_mitral_valve_range">
            </div>
            <div class="col-1">
                <p id="normal_heart_sound_mitral_valve_range_value">0%</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-4">
                <button type="submit" name="normal_heart_sound_aortic_valve" id="normal_heart_sound_aortic_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Aortic valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="normal_heart_sound_aortic_valve_range">
            </div>
            <div class="col-1">
                <p id="normal_heart_sound_aortic_valve_range_value">0%</p>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <button type="submit" name="normal_heart_sound_pulmonary_valve" id="normal_heart_sound_pulmonary_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Pulmonary valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="normal_heart_sound_pulmonary_valve_range">
            </div>
            <div class="col-1">
                <p id="normal_heart_sound_pulmonary_valve_range_value">0%</p>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <button type="submit" name="normal_heart_sound_tricuspid_valve" id="normal_heart_sound_tricuspid_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Tricuspid valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="normal_heart_sound_tricuspid_valve_range">
            </div>
            <div class="col-1">
                <p id="normal_heart_sound_tricuspid_valve_range_value">0%</p>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <button type="submit" name="normal_heart_sound_erb_point" id="normal_heart_sound_erb_point" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Erb's point</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="normal_heart_sound_erbs_point_range">
            </div>
            <div class="col-1">
                <p id="normal_heart_sound_erbs_point_range_value">0%</p>
            </div>
        </div>
    </div>

    <!-- Split First Heart Sound-->
    <div id="split_first_heart_sound_volume" style="display: none;">
        <div class="row">
            <div class="col-4">
                <button type="submit" name="split_first_heart_sound_mitral_valve" id="split_first_heart_sound_mitral_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Mitral valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="split_first_heart_sound_mitral_valve_range">
            </div>
            <div class="col-1">
                <p id="split_first_heart_sound_mitral_valve_range_value">0%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name="split_first_heart_sound_aortic_valve" id="split_first_heart_sound_aortic_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Aortic valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="split_first_heart_sound_aortic_valve_range">
            </div>
            <div class="col-1">
                <p id="split_first_heart_sound_aortic_valve_range_value">0%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name="split_first_heart_sound_pulmonary_valve" id="split_first_heart_sound_pulmonary_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Pulmonary valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="split_first_heart_sound_pulmonary_valve_range">
            </div>
            <div class="col-1">
                <p id="split_first_heart_sound_pulmonary_valve_range_value">0%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name="split_first_heart_sound_tricuspid_valve" id="split_first_heart_sound_tricuspid_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Tricuspid valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="split_first_heart_sound_tricuspid_valve_range">
            </div>
            <div class="col-1">
                <p id="split_first_heart_sound_tricuspid_valve_range_value">0%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name="split_first_heart_sound_erb_point" id="split_first_heart_sound_erb_point" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Erb's point</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="split_first_heart_sound_erbs_point_range">
            </div>
            <div class="col-1">
                <p id="split_first_heart_sound_erbs_point_range_value">0%</p>
            </div>
        </div>
    </div>

    <!-- Split Second Heart Sound-->
    <div id="split_second_heart_sound_volume" style="display: none;">
        <div class="row">
            <div class="col-4">
                <button type="submit" name="split_second_heart_sound_mitral_valve" id="split_second_heart_sound_mitral_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Mitral valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="split_second_heart_sound_mitral_valve_range">
            </div>
            <div class="col-1">
                <p id="split_second_heart_sound_mitral_valve_range_value">0%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name="split_second_heart_sound_aortic_valve" id="split_second_heart_sound_aortic_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Aortic valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="split_second_heart_sound_aortic_valve_range">
            </div>
            <div class="col-1">
                <p id="split_second_heart_sound_aortic_valve_range_value">0%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name="split_second_heart_sound_pulmonary_valve" id="split_second_heart_sound_pulmonary_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Pulmonary valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="split_second_heart_sound_pulmonary_valve_range">
            </div>
            <div class="col-1">
                <p id="split_second_heart_sound_pulmonary_valve_range_value">0%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name="split_second_heart_sound_tricuspid_valve" id="split_second_heart_sound_tricuspid_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Tricuspid valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="split_second_heart_sound_tricuspid_valve_range">
            </div>
            <div class="col-1">
                <p id="split_second_heart_sound_tricuspid_valve_range_value">0%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name="split_second_heart_sound_erb_point" id="split_second_heart_sound_erb_point" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Erb's point</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="split_second_heart_sound_erbs_point_range">
            </div>
            <div class="col-1">
                <p id="split_second_heart_sound_erbs_point_range_value">0%</p>
            </div>
        </div>
    </div>

    <!-- Third Heart Sound -->
    <div id="third_heart_sound_volume" style="display: none;">
        <div class="row">
            <div class="col-4">
                <button type="submit" name="third_heart_sound_mitral_valve" id="third_heart_sound_mitral_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Mitral valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="third_heart_sound_mitral_valve_range">
            </div>
            <div class="col-1">
                <p id="third_heart_sound_mitral_valve_range_value">0%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name="third_heart_sound_aortic_valve" id="third_heart_sound_aortic_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Aortic valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="third_heart_sound_aortic_valve_range">
            </div>
            <div class="col-1">
                <p id="third_heart_sound_aortic_valve_range_value">0%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name="third_heart_sound_pulmonary_valve" id="third_heart_sound_pulmonary_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Pulmonary valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="third_heart_sound_pulmonary_valve_range">
            </div>
            <div class="col-1">
                <p id="third_heart_sound_pulmonary_valve_range_value">0%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name="third_heart_sound_tricuspid_valve" id="third_heart_sound_tricuspid_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Tricuspid valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="third_heart_sound_tricuspid_valve_range">
            </div>
            <div class="col-1">
                <p id="third_heart_sound_tricuspid_valve_range_value">0%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name="third_heart_sound_erb_point" id="third_heart_sound_erb_point" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Erb's point</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="third_heart_sound_erbs_point_range">
            </div>
            <div class="col-1">
                <p id="third_heart_sound_erbs_point_range_value">0%</p>
            </div>
        </div>
    </div>

    <!-- Fourth Heart Sound -->
    <div id="fourth_heart_sound_volume" style="display: none;">
        <div class="row">
            <div class="col-4">
                <button type="submit" name="fourth_heart_sound_mitral_valve" id="fourth_heart_sound_mitral_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Mitral valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="fourth_heart_sound_mitral_valve_range">
            </div>
            <div class="col-1">
                <p id="fourth_heart_sound_mitral_valve_range_value">0%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name="fourth_heart_sound_aortic_valve" id="fourth_heart_sound_aortic_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Aortic valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="fourth_heart_sound_aortic_valve_range">
            </div>
            <div class="col-1">
                <p id="fourth_heart_sound_aortic_valve_range_value">0%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name="fourth_heart_sound_pulmonary_valve" id="fourth_heart_sound_pulmonary_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Pulmonary valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="fourth_heart_sound_pulmonary_valve_range">
            </div>
            <div class="col-1">
                <p id="fourth_heart_sound_pulmonary_valve_range_value">0%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name="fourth_heart_sound_tricuspid_valve" id="fourth_heart_sound_tricuspid_valve" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Tricuspid valve</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="fourth_heart_sound_tricuspid_valve_range">
            </div>
            <div class="col-1">
                <p id="fourth_heart_sound_tricuspid_valve_range_value">0%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" name="fourth_heart_sound_erb_point" id="fourth_heart_sound_erb_point" class="btn btn-link btn-square-md" data-mdb-ripple-color="dark">Erb's point</button>
            </div>
            <div class="col-1">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </div>
            <div class="col-1">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div class="col-5">
                <input type="range" class="form-range" min="0" max="100" value="0" step="1" id="fourth_heart_sound_erbs_point_range">
            </div>
            <div class="col-1">
                <p id="fourth_heart_sound_erbs_point_range_value">0%</p>
            </div>
        </div>
    </div>
</form>