<div class="bg-secondary text-center rounded px-2 py-2 gy-1">
    <div class="row">
        <div class="col-4">
            <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark">Mute All</button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark">Default</button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark">Max Volume</button>
        </div>
    </div>
</div>