<div class="container-fluid px-3 pt-2 fixed-bottom">
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary text-center rounded px-2 py-2 gy-1">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark" id="hbr_btn">HBR</button>
                        <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark" id="ecg_btn">ECG</button>
                        <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark" id="rsp_btn">RR</button>
                        <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark" id="compare_btn">Compare</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>