<div class="container-fluid px-3 pt-2 fixed-bottom">
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary text-center rounded px-2 py-2 gy-1">
                <div class="row">
                    <div class="col-3">
                        <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark">1x</button>
                        <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark">2x</button>
                        <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark">4x</button>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark" id="hbr_btn">HBR</button>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark" id="ecg_btn">ECG</button>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark" id="rsp_btn">RR</button>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark" id="compare_btn">Compare</button>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark"><i class="fa fa-pause" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-link btn-outline-danger btn-square-md" data-mdb-ripple-color="dark"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>