<script>
    var hbr_btn = document.getElementById("hbr_btn");
    var compare_btn = document.getElementById("compare_btn");
    var ecg_btn = document.getElementById("ecg_btn");
    var rsp_btn = document.getElementById("rsp_btn");

    // Heart Buttons
    var mitral_btn = document.getElementById("normal_heart_sound_mitral_valve");
    var aortic_btn = document.getElementById("normal_heart_sound_aortic_valve");
    var pulmonary_btn = document.getElementById("normal_heart_sound_pulmonary_valve");
    var tricuspid_btn = document.getElementById("normal_heart_sound_tricuspid_valve");
    var erb_btn = document.getElementById("normal_heart_sound_erb_point");

    // Blank Div
    var currentDiv = document.getElementById("hbr_div");

    // Heart Divs
    var mitralDiv = document.getElementById("mitral_div"); 
    var aorticDiv = document.getElementById("aortic_div");
    var pulmonaryDiv = document.getElementById("pulmonary_div");
    var tricuspidDiv = document.getElementById("tricuspid_div");
    var erbDiv = document.getElementById("erb_div");

    mitral_btn.addEventListener("click", function() {
        if (mitralDiv.style.display === "none") {
            mitralDiv.style.display = "block";
        }
        else {
            mitralDiv.style.display = "none";
        }
    })

    // Add a click event listener to the button
    hbr_btn.addEventListener("click", function() {
        // Toggle the 'active' class on the button
        this.classList.toggle("active");
        
        // Toggle the display property of currentDiv
        if (currentDiv.style.display === "none") {
            currentDiv.style.display = "block";
        } else {
            currentDiv.style.display = "none";
        }
    });
    compare_btn.addEventListener("click", function() {
        // Toggle the 'active' class on the button
        this.classList.toggle("active");
    });
    ecg_btn.addEventListener("click", function() {
        // Toggle the 'active' class on the button
        this.classList.toggle("active");
    });
    rsp_btn.addEventListener("click", function() {
        // Toggle the 'active' class on the button
        this.classList.toggle("active");
    });
    
</script>