{% load plotly_dash %}
<!-- Graph for No Audio Input -->
<div class="row" id="hbr_div" style="display: none;">
    {% plotly_app name="blankhbrDash" ratio=0.3 %}
</div>

<!-- Graph for Heart Audio input -->
<div class="row" id="mitral_div" style="display: none;">
    {% plotly_app name="mitralDash" ratio=0.3 %}
</div>
<div class="row" id="aortic_div" style="display: none;">
    {% plotly_app name="aorticDash" ratio=0.3 %}
</div>
<div class="row" id="pulmonary_div" style="display: none;">
    {% plotly_app name="pulmonaryDash" ratio=0.3 %}
</div>
<div class="row" id="tricuspid_div" style="display: none;">
    {% plotly_app name="tricuspidDash" ratio=0.3 %}
</div>
<div class="row" id="erb_div" style="display: none;">
    {% plotly_app name="erbDash" ratio=0.3 %}
</div>

<!-- Graph for Lungs Audio input -->
<div class="row" id="LUL_div" style="display: none;">
    {% plotly_app name="LUL_dash" ratio=0.3 %}
</div>
<div class="row" id="LML_div" style="display: none;">
    {% plotly_app name="LML_dash" ratio=0.3 %}
</div>
<div class="row" id="LLL_div" style="display: none;">
    {% plotly_app name="LLL_dash" ratio=0.3 %}
</div>
<div class="row" id="RUL_div" style="display: none;">
    {% plotly_app name="RUL_dash" ratio=0.3 %}
</div>
<div class="row" id="RML_div" style="display: none;">
    {% plotly_app name="RML_dash" ratio=0.3 %}
</div>
<div class="row" id="RLL_div" style="display: none;">
    {% plotly_app name="RLL_dash" ratio=0.3 %}
</div>

<!-- Graph for Bowel Audio input -->
<div class="row" id="normal_bowel_sound_with_bruits_div" style="display: none;">
    {% plotly_app name="normal_bowel_sound_with_bruits_dash" ratio=0.3 %}
</div>

<div class="row" id="constipation_div" style="display: none;">
    {% plotly_app name="constipation_dash" ratio=0.3 %}
</div>

<div class="row" id="bruits_due_to_renal_arteries_stenosis_div" style="display: none;">
    {% plotly_app name="bruits_due_to_renal_arteries_stenosis_dash" ratio=0.3 %}
</div>

<div class="row" id="paralytic_ileus_div" style="display: none;">
    {% plotly_app name="paralytic_ileus_dash" ratio=0.3 %}
</div>

<div class="row" id="captement_div" style="display: none;">
    {% plotly_app name="captement_dash" ratio=0.3 %}
</div>

<div class="row" id="hyperactive_div" style="display: none;">
    {% plotly_app name="hyperactive_dash" ratio=0.3 %}
</div>

<div class="row" id="normal_bowel_div" style="display: none;">
    {% plotly_app name="normal_bowel_dash" ratio=0.3 %}
</div>

<div class="row" id="diarrhea_div" style="display: none;">
    {% plotly_app name="diarrhea_dash" ratio=0.3 %}
</div>

<div class="row" id="hypoactive_div" style="display: none;">
    {% plotly_app name="hypoactive_dash" ratio=0.3 %}
</div>

<div class="row" id="crohns_disease_div" style="display: none;">
    {% plotly_app name="crohns_disease_dash" ratio=0.3 %}
</div>

<div class="row" id="irritable_bowel_syndrome_div" style="display: none;">
    {% plotly_app name="irritable_bowel_syndrome_dash" ratio=0.3 %}
</div>

<div class="row" id="borborygmus_div" style="display: none;">
    {% plotly_app name="borborygmus_dash" ratio=0.3 %}
</div>

<div class="row" id="ulcerative_colitis_div" style="display: none;">
    {% plotly_app name="ulcerative_colitis_dash" ratio=0.3 %}
</div>

<div class="row" id="peritoneal_friction_rub_div" style="display: none;">
    {% plotly_app name="peritoneal_friction_rub_dash" ratio=0.3 %}
</div>


<!-- Other Graphs -->
<div class="row" id="comp_div" style="display: none;">
    {% plotly_app name="compDash" ratio=0.3 %}
</div>
<div class="row" id="ecg_div" style="display:none;">
    {% plotly_app name="ecgDash" ratio=0.3 %}
</div>
<div class="row" id="rsp_div" style="display:none;">
    {% plotly_app name="rspDash" ratio=0.3 %}
</div>