<script>
    var heartLeftNavBar = document.getElementById("heart_left_nav_bar");
    var lungs_front_nav = document.getElementById("lung_front_left_nav_bar");
    var lungs_back_nav = document.getElementById("lung_back_left_nav_bar");
    var bowel_nav = document.getElementById("bowel_left_nav_bar");

    document.getElementById("heart_btn").onclick = function() {
        if (heartLeftNavBar.style.display === "none") {
            heartLeftNavBar.style.display = "block";
            lungs_front_nav.style.display = "none";
            lungs_back_nav.style.display = "none";
            bowel_nav.style.display = "none";

            document.getElementById("heart_btn").classList.add('active');
            document.getElementById("lungs_anterior_btn").classList.remove('active');
            document.getElementById("lungs_posterior_btn").classList.remove('active');
            document.getElementById("bowel_btn").classList.remove('active');
        }
    };

    document.getElementById("lungs_anterior_btn").onclick = function() {
        if (lungs_front_nav.style.display === "none") {
            heartLeftNavBar.style.display = "none";
            lungs_front_nav.style.display = "block";
            lungs_back_nav.style.display = "none";
            bowel_nav.style.display = "none";

            document.getElementById("heart_btn").classList.remove('active');
            document.getElementById("lungs_anterior_btn").classList.add('active');
            document.getElementById("lungs_posterior_btn").classList.remove('active');
            document.getElementById("bowel_btn").classList.remove('active');

            heart_locations.forEach(function(divId) {
                var divElement = document.getElementById(divId);
                if (divElement) {
                    divElement.style.display = "none";
                }
            });
        }
    };

    document.getElementById("lungs_posterior_btn").onclick = function() {
        if (lungs_back_nav.style.display === "none") {
            heartLeftNavBar.style.display = "none";
            lungs_front_nav.style.display = "none";
            lungs_back_nav.style.display = "block";
            bowel_nav.style.display = "none";

            document.getElementById("heart_btn").classList.remove('active');
            document.getElementById("lungs_anterior_btn").classList.remove('active');
            document.getElementById("lungs_posterior_btn").classList.add('active');
            document.getElementById("bowel_btn").classList.remove('active');
        }
    };
    
    document.getElementById("bowel_btn").onclick = function() {
        if (bowel_nav.style.display === "none") {
            heartLeftNavBar.style.display = "none";
            lungs_front_nav.style.display = "none";
            lungs_back_nav.style.display = "none";
            bowel_nav.style.display = "block";

            document.getElementById("heart_btn").classList.remove('active');
            document.getElementById("lungs_anterior_btn").classList.remove('active');
            document.getElementById("lungs_posterior_btn").classList.remove('active');
            document.getElementById("bowel_btn").classList.add('active');
        }
    };
</script>