<script>
    // Trigger Mitral Valve Sound Play at the Backend
    $(document).ready(function () {
        // Function to handle range input change for different heart sounds
        const heartSounds = [
            /* Heart Tones */
            "normal_heart","split_first_heart","split_second_heart","third_heart","fourth_heart",
            /* Murmurs */
            "functional_murmur","diastolic_murmur","opening_snap","holosystolic_murmur","early_systolic_murmur","mid_systolic_murmur","continuous_murmur","austin_flint_murmur","pericardial_rub","graham_steell_murmur",
            /* Aortic Value */
            "aortic_valve_regurgitation","aortic_valve_stenosis","aortic_valve_stenosis_regurgitation","congenital_aortic_stenosis",
            /* Mitral Value */
            "mitral_valve_regurgitation","mitral_valve_stenosis","mitral_valve_prelapse","mitral_stenosis_regurgitation","mitral_stenosis_tricuspid_regurgitation",
            /* Pulmonary Value */
            "pulmonary_valve_stenosis","pulmonary_valve_regurgitation",
            /* Tricuspid Value */
            "tricuspid_valve_regurgitation",
            /* Pathologies */
            "coarctation_of_the_aorta","hypertrophic_cardiomyopathy","patent_ductus_arteriosus","atrial_septal_defect","ventricular_septal_defect","acute_myocardial_infarction","congestive_heart_failure","systemic_hypertension","acute_pericarditis","dilated_cardiomyopathy","pulmonary_hypertension","tetralogy_of_fallot","ventricular_aneurysm","ebstein_anomaly",
        ];

        heartSounds.forEach(function (identifier) {
            $('#' + identifier + '_sound_mitral_valve').click(function () {
                // Check if hbr_btn is active
                if ($('#hbr_btn').hasClass('active')) {
                    // Set the style of div1 to block
                    $('#hbr_div').css('display', 'none');
                    $('#mitral_div').css('display', 'block');
                    $('#aortic_div').css('display', 'none');
                    $('#pulmonary_div').css('display', 'none');
                    $('#tricuspid_div').css('display', 'none');
                    $('#erb_div').css('display', 'none');
                }

                $.ajax({
                    type: 'POST',
                    url: 'soundPlay/',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', [identifier + '_sound_mitral_valve']: true},
                    success: function (response) {
                        // Handle success response
                        console.log('POST request successful for ' + identifier + '_sound_mitral_valve' + ':', response);
                    },
                    error: function (error) {
                        // Handle error response
                        console.error('Error in POST request for ' + identifier + '_sound_mitral_valve' + ':', error);
                    }
                });
            });
        });
    });

    // Trigger Aortic Valve Sound Play at the Backend
    $(document).ready(function () {
        // Function to handle range input change for different heart sounds
        const heartSounds = [
            /* Heart Tones */
            "normal_heart","split_first_heart","split_second_heart","third_heart","fourth_heart",
            /* Murmurs */
            "functional_murmur","diastolic_murmur","opening_snap","holosystolic_murmur","early_systolic_murmur","mid_systolic_murmur","continuous_murmur","austin_flint_murmur","pericardial_rub","graham_steell_murmur",
            /* Aortic Value */
            "aortic_valve_regurgitation","aortic_valve_stenosis","aortic_valve_stenosis_regurgitation","congenital_aortic_stenosis",
            /* Mitral Value */
            "mitral_valve_regurgitation","mitral_valve_stenosis","mitral_valve_prelapse","mitral_stenosis_regurgitation","mitral_stenosis_tricuspid_regurgitation",
            /* Pulmonary Value */
            "pulmonary_valve_stenosis","pulmonary_valve_regurgitation",
            /* Tricuspid Value */
            "tricuspid_valve_regurgitation",
            /* Pathologies */
            "coarctation_of_the_aorta","hypertrophic_cardiomyopathy","patent_ductus_arteriosus","atrial_septal_defect","ventricular_septal_defect","acute_myocardial_infarction","congestive_heart_failure","systemic_hypertension","acute_pericarditis","dilated_cardiomyopathy","pulmonary_hypertension","tetralogy_of_fallot","ventricular_aneurysm","ebstein_anomaly",
        ];

        heartSounds.forEach(function (identifier) {
            $('#' + identifier + '_sound_aortic_valve').click(function () {
                // Check if hbr_btn is active
                if ($('#hbr_btn').hasClass('active')) {
                    // Set the style of div1 to block
                    $('#hbr_div').css('display', 'none');
                    $('#mitral_div').css('display', 'none');
                    $('#aortic_div').css('display', 'block');
                    $('#pulmonary_div').css('display', 'none');
                    $('#tricuspid_div').css('display', 'none');
                    $('#erb_div').css('display', 'none');
                }

                $.ajax({
                    type: 'POST',
                    url: 'soundPlay/',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', [identifier + '_sound_aortic_valve']: true},
                    success: function (response) {
                        // Handle success response
                        console.log('POST request successful for ' + identifier + '_sound_aortic_valve' + ':', response);
                    },
                    error: function (error) {
                        // Handle error response
                        console.error('Error in POST request for ' + identifier + '_sound_aortic_valve' + ':', error);
                    }
                });
            });
        });
    });

    // Trigger Pulmonary Valve Sound Play at the Backend
    $(document).ready(function () {
        // Function to handle range input change for different heart sounds
        const heartSounds = [
            /* Heart Tones */
            "normal_heart","split_first_heart","split_second_heart","third_heart","fourth_heart",
            /* Murmurs */
            "functional_murmur","diastolic_murmur","opening_snap","holosystolic_murmur","early_systolic_murmur","mid_systolic_murmur","continuous_murmur","austin_flint_murmur","pericardial_rub","graham_steell_murmur",
            /* Aortic Value */
            "aortic_valve_regurgitation","aortic_valve_stenosis","aortic_valve_stenosis_regurgitation","congenital_aortic_stenosis",
            /* Mitral Value */
            "mitral_valve_regurgitation","mitral_valve_stenosis","mitral_valve_prelapse","mitral_stenosis_regurgitation","mitral_stenosis_tricuspid_regurgitation",
            /* Pulmonary Value */
            "pulmonary_valve_stenosis","pulmonary_valve_regurgitation",
            /* Tricuspid Value */
            "tricuspid_valve_regurgitation",
            /* Pathologies */
            "coarctation_of_the_aorta","hypertrophic_cardiomyopathy","patent_ductus_arteriosus","atrial_septal_defect","ventricular_septal_defect","acute_myocardial_infarction","congestive_heart_failure","systemic_hypertension","acute_pericarditis","dilated_cardiomyopathy","pulmonary_hypertension","tetralogy_of_fallot","ventricular_aneurysm","ebstein_anomaly",
        ];

        heartSounds.forEach(function (identifier) {
            $('#' + identifier + '_sound_pulmonary_valve').click(function () {
                // Check if hbr_btn is active
                if ($('#hbr_btn').hasClass('active')) {
                    // Set the style of div1 to block
                    $('#hbr_div').css('display', 'none');
                    $('#mitral_div').css('display', 'none');
                    $('#aortic_div').css('display', 'none');
                    $('#pulmonary_div').css('display', 'block');
                    $('#tricuspid_div').css('display', 'none');
                    $('#erb_div').css('display', 'none');
                }

                $.ajax({
                    type: 'POST',
                    url: 'soundPlay/',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', [identifier + '_sound_pulmonary_valve']: true},
                    success: function (response) {
                        // Handle success response
                        console.log('POST request successful for ' + identifier + '_sound_pulmonary_valve' + ':', response);
                    },
                    error: function (error) {
                        // Handle error response
                        console.error('Error in POST request for ' + identifier + '_sound_pulmonary_valve' + ':', error);
                    }
                });
            });
        });
    });

    // Trigger Tricuspid Valve Sound Play at the Backend
    $(document).ready(function () {
        // Function to handle range input change for different heart sounds
        const heartSounds = [
            /* Heart Tones */
            "normal_heart","split_first_heart","split_second_heart","third_heart","fourth_heart",
            /* Murmurs */
            "functional_murmur","diastolic_murmur","opening_snap","holosystolic_murmur","early_systolic_murmur","mid_systolic_murmur","continuous_murmur","austin_flint_murmur","pericardial_rub","graham_steell_murmur",
            /* Aortic Value */
            "aortic_valve_regurgitation","aortic_valve_stenosis","aortic_valve_stenosis_regurgitation","congenital_aortic_stenosis",
            /* Mitral Value */
            "mitral_valve_regurgitation","mitral_valve_stenosis","mitral_valve_prelapse","mitral_stenosis_regurgitation","mitral_stenosis_tricuspid_regurgitation",
            /* Pulmonary Value */
            "pulmonary_valve_stenosis","pulmonary_valve_regurgitation",
            /* Tricuspid Value */
            "tricuspid_valve_regurgitation",
            /* Pathologies */
            "coarctation_of_the_aorta","hypertrophic_cardiomyopathy","patent_ductus_arteriosus","atrial_septal_defect","ventricular_septal_defect","acute_myocardial_infarction","congestive_heart_failure","systemic_hypertension","acute_pericarditis","dilated_cardiomyopathy","pulmonary_hypertension","tetralogy_of_fallot","ventricular_aneurysm","ebstein_anomaly",
        ];

        heartSounds.forEach(function (identifier) {
            $('#' + identifier + '_sound_tricuspid_valve').click(function () {
                // Check if hbr_btn is active
                if ($('#hbr_btn').hasClass('active')) {
                    // Set the style of div1 to block
                    $('#hbr_div').css('display', 'none');
                    $('#mitral_div').css('display', 'none');
                    $('#aortic_div').css('display', 'none');
                    $('#pulmonary_div').css('display', 'none');
                    $('#tricuspid_div').css('display', 'block');
                    $('#erb_div').css('display', 'none');
                }

                $.ajax({
                    type: 'POST',
                    url: 'soundPlay/',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', [identifier + '_sound_tricuspid_valve']: true},
                    success: function (response) {
                        // Handle success response
                        console.log('POST request successful for ' + identifier + '_sound_tricuspid_valve' + ':', response);
                    },
                    error: function (error) {
                        // Handle error response
                        console.error('Error in POST request for ' + identifier + '_sound_tricuspid_valve' + ':', error);
                    }
                });
            });
        });
    });

    // Trigger Erb point Sound Play at the Backend
    $(document).ready(function () {
        // Function to handle range input change for different heart sounds
        const heartSounds = [
            /* Heart Tones */
            "normal_heart","split_first_heart","split_second_heart","third_heart","fourth_heart",
            /* Murmurs */
            "functional_murmur","diastolic_murmur","opening_snap","holosystolic_murmur","early_systolic_murmur","mid_systolic_murmur","continuous_murmur","austin_flint_murmur","pericardial_rub","graham_steell_murmur",
            /* Aortic Value */
            "aortic_valve_regurgitation","aortic_valve_stenosis","aortic_valve_stenosis_regurgitation","congenital_aortic_stenosis",
            /* Mitral Value */
            "mitral_valve_regurgitation","mitral_valve_stenosis","mitral_valve_prelapse","mitral_stenosis_regurgitation","mitral_stenosis_tricuspid_regurgitation",
            /* Pulmonary Value */
            "pulmonary_valve_stenosis","pulmonary_valve_regurgitation",
            /* Tricuspid Value */
            "tricuspid_valve_regurgitation",
            /* Pathologies */
            "coarctation_of_the_aorta","hypertrophic_cardiomyopathy","patent_ductus_arteriosus","atrial_septal_defect","ventricular_septal_defect","acute_myocardial_infarction","congestive_heart_failure","systemic_hypertension","acute_pericarditis","dilated_cardiomyopathy","pulmonary_hypertension","tetralogy_of_fallot","ventricular_aneurysm","ebstein_anomaly",
        ];

        heartSounds.forEach(function (identifier) {
            $('#' + identifier + '_sound_erb_point').click(function () {
                // Check if hbr_btn is active
                if ($('#hbr_btn').hasClass('active')) {
                    // Set the style of div1 to block
                    $('#hbr_div').css('display', 'none');
                    $('#mitral_div').css('display', 'none');
                    $('#aortic_div').css('display', 'none');
                    $('#pulmonary_div').css('display', 'none');
                    $('#tricuspid_div').css('display', 'none');
                    $('#erb_div').css('display', 'block');
                }

                $.ajax({
                    type: 'POST',
                    url: 'soundPlay/',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', [identifier + '_sound_erb_point']: true},
                    success: function (response) {
                        // Handle success response
                        console.log('POST request successful for ' + identifier + '_sound_erb_point' + ':', response);
                    },
                    error: function (error) {
                        // Handle error response
                        console.error('Error in POST request for ' + identifier + '_sound_erb_point' + ':', error);
                    }
                });
            });
        });
    });

    // Trigger Left Upper Lobe Sound Play at the Backend
    $(document).ready(function () {
        // Function to handle range input change for different lungs sounds
        const lungsSounds = [
            /* Normal Breath Sound */
            "brochial_respiration_front", "bronchovesicular_respiration_front", "vesicular_respiration_front", "diminished_vescicular_respiration_front",
            /* Adventitious Sound */
            "coarse_crackles_front", "fine_crackles_front", "wheezes_front", "rhonchi_front", "gurgling_rhonchi_front", "stridor_front", "pleural_friction_rub_front", "amphoric_respiration_front", "harsh_respiration_front",
            /* Pathologies */
            "asthma_front", "covid19_front", "right_sided_pneumothorax_front", "left_sided_pneumothorax_front", "pneumonia_front",
        ];

        lungsSounds.forEach(function (identifier) {
            $('#' + identifier + '_sound_LUL').click(function () {
                // Check if hbr_btn is active
                if ($('#hbr_btn').hasClass('active')) {
                    // Set the style of div1 to block
                    $('#hbr_div').css('display', 'none');
                    $('#mitral_div').css('display', 'block');
                    $('#aortic_div').css('display', 'none');
                    $('#pulmonary_div').css('display', 'none');
                    $('#tricuspid_div').css('display', 'none');
                    $('#erb_div').css('display', 'none');
                }

                $.ajax({
                    type: 'POST',
                    url: 'soundPlay/',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', [identifier + '_sound_LUL']: true},
                    success: function (response) {
                        // Handle success response
                        console.log('POST request successful for ' + identifier + '_sound_LUL' + ':', response);
                    },
                    error: function (error) {
                        // Handle error response
                        console.error('Error in POST request for ' + identifier + '_sound_LUL' + ':', error);
                    }
                });
            });
        });
    });

    // Trigger Left Lower Lobe Sound Play at the Backend
    $(document).ready(function () {
        // Function to handle range input change for different lungs sounds
        const lungsSounds = [
            /* Normal Breath Sound */
            "brochial_respiration_front", "bronchovesicular_respiration_front", "vesicular_respiration_front", "diminished_vescicular_respiration_front",
            /* Adventitious Sound */
            "coarse_crackles_front", "fine_crackles_front", "wheezes_front", "rhonchi_front", "gurgling_rhonchi_front", "stridor_front", "pleural_friction_rub_front", "amphoric_respiration_front", "harsh_respiration_front",
            /* Pathologies */
            "asthma_front", "covid19_front", "right_sided_pneumothorax_front", "left_sided_pneumothorax_front", "pneumonia_front",
        ];

        lungsSounds.forEach(function (identifier) {
            $('#' + identifier + '_sound_LLL').click(function () {
                // Check if hbr_btn is active
                if ($('#hbr_btn').hasClass('active')) {
                    // Set the style of div1 to block
                    $('#hbr_div').css('display', 'none');
                    $('#mitral_div').css('display', 'block');
                    $('#aortic_div').css('display', 'none');
                    $('#pulmonary_div').css('display', 'none');
                    $('#tricuspid_div').css('display', 'none');
                    $('#erb_div').css('display', 'none');
                }

                $.ajax({
                    type: 'POST',
                    url: 'soundPlay/',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', [identifier + '_sound_LLL']: true},
                    success: function (response) {
                        // Handle success response
                        console.log('POST request successful for ' + identifier + '_sound_LLL' + ':', response);
                    },
                    error: function (error) {
                        // Handle error response
                        console.error('Error in POST request for ' + identifier + '_sound_LLL' + ':', error);
                    }
                });
            });
        });
    });

    // Trigger Right Upper Lobe Sound Play at the Backend
    $(document).ready(function () {
        // Function to handle range input change for different lungs sounds
        const lungsSounds = [
            /* Normal Breath Sound */
            "brochial_respiration_front", "bronchovesicular_respiration_front", "vesicular_respiration_front", "diminished_vescicular_respiration_front",
            /* Adventitious Sound */
            "coarse_crackles_front", "fine_crackles_front", "wheezes_front", "rhonchi_front", "gurgling_rhonchi_front", "stridor_front", "pleural_friction_rub_front", "amphoric_respiration_front", "harsh_respiration_front",
            /* Pathologies */
            "asthma_front", "covid19_front", "right_sided_pneumothorax_front", "left_sided_pneumothorax_front", "pneumonia_front",
        ];

        lungsSounds.forEach(function (identifier) {
            $('#' + identifier + '_sound_RUL').click(function () {
                // Check if hbr_btn is active
                if ($('#hbr_btn').hasClass('active')) {
                    // Set the style of div1 to block
                    $('#hbr_div').css('display', 'none');
                    $('#mitral_div').css('display', 'block');
                    $('#aortic_div').css('display', 'none');
                    $('#pulmonary_div').css('display', 'none');
                    $('#tricuspid_div').css('display', 'none');
                    $('#erb_div').css('display', 'none');
                }

                $.ajax({
                    type: 'POST',
                    url: 'soundPlay/',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', [identifier + '_sound_RUL']: true},
                    success: function (response) {
                        // Handle success response
                        console.log('POST request successful for ' + identifier + '_sound_RUL' + ':', response);
                    },
                    error: function (error) {
                        // Handle error response
                        console.error('Error in POST request for ' + identifier + '_sound_RUL' + ':', error);
                    }
                });
            });
        });
    });

    // Trigger Right Middle Lobe Sound Play at the Backend
    $(document).ready(function () {
        // Function to handle range input change for different lungs sounds
        const lungsSounds = [
            /* Normal Breath Sound */
            "brochial_respiration_front", "bronchovesicular_respiration_front", "vesicular_respiration_front", "diminished_vescicular_respiration_front",
            /* Adventitious Sound */
            "coarse_crackles_front", "fine_crackles_front", "wheezes_front", "rhonchi_front", "gurgling_rhonchi_front", "stridor_front", "pleural_friction_rub_front", "amphoric_respiration_front", "harsh_respiration_front",
            /* Pathologies */
            "asthma_front", "covid19_front", "right_sided_pneumothorax_front", "left_sided_pneumothorax_front", "pneumonia_front",
        ];

        lungsSounds.forEach(function (identifier) {
            $('#' + identifier + '_sound_RML').click(function () {
                // Check if hbr_btn is active
                if ($('#hbr_btn').hasClass('active')) {
                    // Set the style of div1 to block
                    $('#hbr_div').css('display', 'none');
                    $('#mitral_div').css('display', 'block');
                    $('#aortic_div').css('display', 'none');
                    $('#pulmonary_div').css('display', 'none');
                    $('#tricuspid_div').css('display', 'none');
                    $('#erb_div').css('display', 'none');
                }

                $.ajax({
                    type: 'POST',
                    url: 'soundPlay/',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', [identifier + '_sound_RML']: true},
                    success: function (response) {
                        // Handle success response
                        console.log('POST request successful for ' + identifier + '_sound_RML' + ':', response);
                    },
                    error: function (error) {
                        // Handle error response
                        console.error('Error in POST request for ' + identifier + '_sound_RML' + ':', error);
                    }
                });
            });
        });
    });

    // Trigger Right Lower Lobe Sound Play at the Backend
    $(document).ready(function () {
        // Function to handle range input change for different lungs sounds
        const lungsSounds = [
            /* Normal Breath Sound */
            "brochial_respiration_front", "bronchovesicular_respiration_front", "vesicular_respiration_front", "diminished_vescicular_respiration_front",
            /* Adventitious Sound */
            "coarse_crackles_front", "fine_crackles_front", "wheezes_front", "rhonchi_front", "gurgling_rhonchi_front", "stridor_front", "pleural_friction_rub_front", "amphoric_respiration_front", "harsh_respiration_front",
            /* Pathologies */
            "asthma_front", "covid19_front", "right_sided_pneumothorax_front", "left_sided_pneumothorax_front", "pneumonia_front",
        ];

        lungsSounds.forEach(function (identifier) {
            $('#' + identifier + '_sound_RLL').click(function () {
                // Check if hbr_btn is active
                if ($('#hbr_btn').hasClass('active')) {
                    // Set the style of div1 to block
                    $('#hbr_div').css('display', 'none');
                    $('#mitral_div').css('display', 'block');
                    $('#aortic_div').css('display', 'none');
                    $('#pulmonary_div').css('display', 'none');
                    $('#tricuspid_div').css('display', 'none');
                    $('#erb_div').css('display', 'none');
                }

                $.ajax({
                    type: 'POST',
                    url: 'soundPlay/',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', [identifier + '_sound_RLL']: true},
                    success: function (response) {
                        // Handle success response
                        console.log('POST request successful for ' + identifier + '_sound_RLL' + ':', response);
                    },
                    error: function (error) {
                        // Handle error response
                        console.error('Error in POST request for ' + identifier + '_sound_RLL' + ':', error);
                    }
                });
            });
        });
    });
</script>