<script>
    $(document).ready(function () {
        const Sounds = [
            /* ============================================== HEART SOUNDS ======================================================= */
            /* Heart Tones */
            "normal_heart", "split_first_heart", "split_second_heart", "third_heart", "fourth_heart",
            /* Murmurs */
            "functional_murmur", "diastolic_murmur", "opening_snap", "holosystolic_murmur", "early_systolic_murmur", "mid_systolic_murmur", "continuous_murmur", "austin_flint_murmur", "pericardial_rub", "graham_steell_murmur",
            /* Aortic Value */
            "aortic_valve_regurgitation", "aortic_valve_stenosis", "aortic_valve_stenosis_regurgitation", "congenital_aortic_stenosis",
            /* Mitral Value */
            "mitral_valve_regurgitation", "mitral_valve_stenosis", "mitral_valve_prelapse", "mitral_stenosis_regurgitation", "mitral_stenosis_tricuspid_regurgitation",
            /* Pulmonary Value */
            "pulmonary_valve_stenosis", "pulmonary_valve_regurgitation",
            /* Tricuspid Value */
            "tricuspid_valve_regurgitation",
            /* Pathologies */
            "coarctation_of_the_aorta", "hypertrophic_cardiomyopathy", "patent_ductus_arteriosus", "atrial_septal_defect", "ventricular_septal_defect", "acute_myocardial_infarction", "congestive_heart_failure", "systemic_hypertension", "acute_pericarditis", "dilated_cardiomyopathy", "pulmonary_hypertension", "tetralogy_of_fallot", "ventricular_aneurysm", "ebstein_anomaly",

            /* =========================================== LUNGS FRONT SOUNDS ==================================================== */
            /* Normal Breath Sound */
            "brochial_respiration_front", "bronchovesicular_respiration_front", "vesicular_respiration_front", "diminished_vescicular_respiration_front",
            /* Adventitious Sound */
            "coarse_crackles_front", "fine_crackles_front", "wheezes_front", "rhonchi_front", "gurgling_rhonchi_front", "stridor_front", "pleural_friction_rub_front", "amphoric_respiration_front", "harsh_respiration_front",
            /* Pathologies */
            "asthma_front", "covid19_front", "right_sided_pneumothorax_front", "left_sided_pneumothorax_front", "pneumonia_front",

            /* =========================================== LUNGS BACK SOUNDS ===================================================== */
            /* Normal Breath Sound */
            "brochial_respiration_back", "bronchovesicular_respiration_back", "vesicular_respiration_back", "diminished_vescicular_respiration_back",
            /* Adventitious Sound */
            "coarse_crackles_back", "fine_crackles_back", "wheezes_back", "rhonchi_back", "gurgling_rhonchi_back", "stridor_back", "pleural_friction_rub_back", "amphoric_respiration_back", "harsh_respiration_back",
            /* Pathologies */
            "asthma_back", "covid19_back", "right_sided_pneumothorax_back", "left_sided_pneumothorax_back", "pneumonia_back",

            /* ============================================== BOWEL SOUNDS ======================================================= */
            /* Bowel Sounds */
            "normal_bowel", "hyperactive", "hypoactive", "borborygmus", "captement", "peritoneal_friction_rub", "normal_bowel_sound_with_bruits",
            /* Pathologies */
            "irritable_bowel_syndrome", "diarrhea", "bruits_due_to_renal_arteries_stenosis", "constipation", "ulcerative_colitis", "crohns_disease", "paralytic_ileus",
        ];

        const graphDivs = [
            /* ============================================== HEART GRAPHS ======================================================= */
            'hbr_div', 'mitral_div', 'aortic_div', 'pulmonary_div', 'tricuspid_div', 'erb_div',

            /* ============================================== LUNGS GRAPHS ======================================================= */
            'LUL_div', 'LML_div', 'LLL_div', 'RUL_div', 'RML_div', 'RLL_div',

            /* ============================================== BOWEL SOUNDS ======================================================= */
            'normal_bowel_sound_with_bruits_div', 'constipation_div', 'bruits_due_to_renal_arteries_stenosis_div',
            'paralytic_ileus_div', 'captement_div', 'hyperactive_div', 'normal_bowel_div', 'diarrhea_div',
            'hypoactive_div', 'crohns_disease_div', 'irritable_bowel_syndrome_div', 'borborygmus_div',
            'ulcerative_colitis_div', 'peritoneal_friction_rub_div'
        ];

        function handleSoundClick(identifier, valveType) {
            $('#' + identifier + '_sound_' + valveType).click(function () {
                $.ajax({
                    type: 'POST',
                    url: 'soundPlay/',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', [identifier + '_sound_' + valveType]: true},
                    success: function (response) {
                        // Handle success response
                        console.log('POST request successful for ' + identifier + '_sound_' + valveType + ':', response);
                    },
                    error: function (error) {
                        // Handle error response
                        console.error('Error in POST request for ' + identifier + '_sound_' + valveType + ':', error);
                    }
                });
            });
        }

        Sounds.forEach(function (identifier) {
            // Handle Click function for Heart
            handleSoundClick(identifier, 'mitral_valve');
            handleSoundClick(identifier, 'aortic_valve');
            handleSoundClick(identifier, 'pulmonary_valve');
            handleSoundClick(identifier, 'tricuspid_valve');
            handleSoundClick(identifier, 'erb_point');
            
            // Handle Click function for Lungs
            handleSoundClick(identifier, 'LUL');
            handleSoundClick(identifier, 'LML');
            handleSoundClick(identifier, 'LLL');
            handleSoundClick(identifier, 'RUL');
            handleSoundClick(identifier, 'RML');
            handleSoundClick(identifier, 'RLL');

            // Handle Click function for Bowel
            handleSoundClick(identifier, 'LUQ');
            handleSoundClick(identifier, 'LLQ');
            handleSoundClick(identifier, 'RUQ');
            handleSoundClick(identifier, 'RLQ');
        });
    });
</script>