{% load static %}
{% load plotly_dash %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Auscultation-Simulator</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'image/dollar_icon.png' %}">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/wavesurfer.js"></script>
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="#" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>XYZ</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="{% static 'image/user.png' %}" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Welcome</h6>
                        <span>Student</span>
                    </div>
                </div>

                <!-- Heart's Left Vertical Navbar -->
                {% include 'elements/LeftVerticalNavBar/heartNavBar.html' %}

                <!-- Lung's Front Left Vertical Navbar -->
                {% include 'elements/LeftVerticalNavBar/lungFrontNavBar.html' %}

                <!-- Lung's Back Left Vertical Navbar -->
                {% include 'elements/LeftVerticalNavBar/lungBackNavBar.html' %}

                <!-- Bowel's Left Vertical Navbar -->
                {% include 'elements/LeftVerticalNavBar/bowelNavBar.html' %}
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="#" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto gap-3">
                    {% include 'elements/Header/heartRateShow.html' %}

                    {% include 'elements/Header/breathRateShow.html' %}

                    <div class="card text-white bg-dark">
                        <div class="card-body">
                            <p class="card-text font-weight-bold" style="transition: 0.5s;" id="sys_vol"> 
                                <i class="fa fa-volume-up" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="{% static 'image/user.png' %}" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">ABC</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">XYZ</a>
                            <a href="#" class="dropdown-item">PQR</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

            <div class="container-fluid pt-2 px-3">
                <div class="row">
                    <div class="col-7 col-sm-7 col-xl-7">
                        <div class="row">
                            <div class="bg-secondary text-center rounded p-4">
                                <div class="col-12">
                                    <img class="img-fluid" src="{% static 'image/human_torso_back_front.jpeg' %}" style="width: 100%; object-fit: cover;" usemap="#body_dots" />
                                    <map name="body_dots">
                                        <area shape="circle" coords="55,82,2"> 
                                    </map>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-sm-5 col-xl-5">
                        <div class="row gx-2">
                            <div class="bg-secondary text-center rounded px-2 py-4">
                                <!-- Four square buttons in first row -->
                                <button type="button" id="heart_btn" class="btn btn-outline-danger btn-square-md active" data-mdb-ripple-color="dark">
                                    <img class="img-fluid" src="{% static 'icon/heart.png' %}" />
                                </button>
                                <button type="button" id="lungs_anterior_btn" class="btn btn-outline-danger btn-square-md" data-mdb-ripple-color="dark">
                                    <img class="img-fluid" src="{% static 'icon/lungs_anterior.png' %}" />
                                </button>
                                <button type="button" id="lungs_posterior_btn" class="btn btn-outline-danger btn-square-md" data-mdb-ripple-color="dark">
                                    <img class="img-fluid" src="{% static 'icon/lungs_posterior.png' %}" />
                                </button>
                                <button type="button" id="bowel_btn" class="btn btn-outline-danger btn-square-md" data-mdb-ripple-color="dark">
                                    <img class="img-fluid" src="{% static 'icon/intestine.png' %}" />
                                </button>

                                <!-- Volume Control -->
                                {% include 'elements/RightVerticalNavBar/heart_volume_control.html' %}

                            </div>
                            {% include 'elements/RightVerticalNavBar/volume.html' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid px-3">
                <div class="row gy-0">
                    <div class="col-12">
                        <div class="row" id="hbr_div" style="display:none;">
                            <!-- {% plotly_app name="hbrDash" ratio=0.3 %} -->
                        </div>
                        <div class="row" id="comp_div" style="display: none;">
                            {% plotly_app name="compDash" ratio=0.3 %}
                        </div>
                        <div class="row" id="ecg_div" style="display:none;">
                            {% plotly_app name="ecgDash" ratio=0.3 %}
                        </div>
                        <div class="row" id="rsp_div" style="display:none;">
                            {% plotly_app name="rspDash" ratio=0.3 %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'elements/Footer/footer.html' %}

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    {% include 'elements/Scripts/heart_breath_update.html' %}

    <script>
        function getElement(id) {
            return document.getElementById(id + "_volume");
        }                   

        function hideAll() {
            var elements = [
                            /* Heart Tones */
                            "normal_heart_sound","split_first_heart_sound","split_second_heart_sound","third_heart_sound","fourth_heart_sound",
                            /* Murmurs */
                            "functional_murmur_sound","diastolic_murmur_sound","opening_snap_sound","holosystolic_murmur_sound","early_systolic_murmur_sound","mid_systolic_murmur_sound","continuous_murmur_sound","austin_flint_murmur_sound","pericardial_rub_sound","graham_steell_murmur_sound",
                            /* Aortic Value */
                            "aortic_valve_regurgitation_sound","aortic_valve_stenosis_sound","aortic_valve_stenosis_regurgitation_sound","congenital_aortic_stenosis_sound",
                            /* Mitral Value */
                            "mitral_valve_regurgitation_sound","mitral_valve_stenosis_sound","mitral_valve_prelapse_sound","mitral_stenosis_regurgitation_sound","mitral_stenosis_tricuspid_regurgitation_sound",
                            /* Pulmonary Value */
                            "pulmonary_valve_stenosis_sound","pulmonary_valve_regurgitation_sound",
                            /* Tricuspid Value */
                            "tricuspid_valve_regurgitation_sound",
                            /* Pathologies */
                            "coarctation_of_the_aorta_sound","hypertrophic_cardiomyopathy_sound","patent_ductus_arteriosus_sound","atrial_septal_defect_sound","ventricular_septal_defect_sound","acute_myocardial_infarction_sound","congestive_heart_failure_sound","systemic_hypertension_sound","acute_pericarditis_sound","dilated_cardiomyopathy_sound","pulmonary_hypertension_sound","tetralogy_of_fallot_sound","ventricular_aneurysm_sound","ebstein_anomaly_sound"
                        ]

            elements.forEach(function (element) {
                getElement(element).style.display = "none";
                document.getElementById(element).classList.remove('active');
            });
        }

        function showElement(id) {
            hideAll();
            getElement(id).style.display = "block";
            document.getElementById(id).classList.add('active');
        }

        document.getElementById("normal_heart_sound").onclick = function() {
            showElement("normal_heart_sound");
        };
        document.getElementById("split_first_heart_sound").onclick = function() {
            showElement("split_first_heart_sound");
        };
        document.getElementById("split_second_heart_sound").onclick = function() {
            showElement("split_second_heart_sound");
        };
        document.getElementById("third_heart_sound").onclick = function() {
            showElement("third_heart_sound");
        };
        document.getElementById("fourth_heart_sound").onclick = function() {
            showElement("fourth_heart_sound");
        };
        document.getElementById("functional_murmur_sound").onclick = function() {
            showElement("functional_murmur_sound");
        };
        document.getElementById("diastolic_murmur_sound").onclick = function() {
            showElement("diastolic_murmur_sound");
        };
        document.getElementById("opening_snap_sound").onclick = function() {
            showElement("opening_snap_sound");
        };
        document.getElementById("holosystolic_murmur_sound").onclick = function() {
            showElement("holosystolic_murmur_sound");
        };
        document.getElementById("early_systolic_murmur_sound").onclick = function() {
            showElement("early_systolic_murmur_sound");
        };
        document.getElementById("mid_systolic_murmur_sound").onclick = function() {
            showElement("mid_systolic_murmur_sound");
        };
        document.getElementById("continuous_murmur_sound").onclick = function() {
            showElement("continuous_murmur_sound");
        };
        document.getElementById("austin_flint_murmur_sound").onclick = function() {
            showElement("austin_flint_murmur_sound");
        };
        document.getElementById("pericardial_rub_sound").onclick = function() {
            showElement("pericardial_rub_sound");
        };
        document.getElementById("graham_steell_murmur_sound").onclick = function() {
            showElement("graham_steell_murmur_sound");
        };
        document.getElementById("aortic_valve_regurgitation_sound").onclick = function() {
            showElement("aortic_valve_regurgitation_sound");
        };
        document.getElementById("aortic_valve_stenosis_sound").onclick = function() {
            showElement("aortic_valve_stenosis_sound");
        };
        document.getElementById("aortic_valve_stenosis_regurgitation_sound").onclick = function() {
            showElement("aortic_valve_stenosis_regurgitation_sound");
        };
        document.getElementById("congenital_aortic_stenosis_sound").onclick = function() {
            showElement("congenital_aortic_stenosis_sound");
        };
        document.getElementById("mitral_valve_regurgitation_sound").onclick = function() {
            showElement("mitral_valve_regurgitation_sound");
        };
        document.getElementById("mitral_valve_stenosis_sound").onclick = function() {
            showElement("mitral_valve_stenosis_sound");
        };
        document.getElementById("mitral_valve_prelapse_sound").onclick = function() {
            showElement("mitral_valve_prelapse_sound");
        };
        document.getElementById("mitral_stenosis_regurgitation_sound").onclick = function() {
            showElement("mitral_stenosis_regurgitation_sound");
        };
        document.getElementById("mitral_stenosis_tricuspid_regurgitation_sound").onclick = function() {
            showElement("mitral_stenosis_tricuspid_regurgitation_sound");
        };
        document.getElementById("pulmonary_valve_stenosis_sound").onclick = function() {
            showElement("pulmonary_valve_stenosis_sound");
        };
        document.getElementById("pulmonary_valve_regurgitation_sound").onclick = function() {
            showElement("pulmonary_valve_regurgitation_sound");
        };
        document.getElementById("tricuspid_valve_regurgitation_sound").onclick = function() {
            showElement("tricuspid_valve_regurgitation_sound");
        };
        document.getElementById("coarctation_of_the_aorta_sound").onclick = function() {
            showElement("coarctation_of_the_aorta_sound");
        };
        document.getElementById("hypertrophic_cardiomyopathy_sound").onclick = function() {
            showElement("hypertrophic_cardiomyopathy_sound");
        };
        document.getElementById("patent_ductus_arteriosus_sound").onclick = function() {
            showElement("patent_ductus_arteriosus_sound");
        };
        document.getElementById("atrial_septal_defect_sound").onclick = function() {
            showElement("atrial_septal_defect_sound");
        };
        document.getElementById("ventricular_septal_defect_sound").onclick = function() {
            showElement("ventricular_septal_defect_sound");
        };
        document.getElementById("acute_myocardial_infarction_sound").onclick = function() {
            showElement("acute_myocardial_infarction_sound");
        };
        document.getElementById("congestive_heart_failure_sound").onclick = function() {
            showElement("congestive_heart_failure_sound");
        };
        document.getElementById("systemic_hypertension_sound").onclick = function() {
            showElement("systemic_hypertension_sound");
        };
        document.getElementById("acute_pericarditis_sound").onclick = function() {
            showElement("acute_pericarditis_sound");
        };
        document.getElementById("dilated_cardiomyopathy_sound").onclick = function() {
            showElement("dilated_cardiomyopathy_sound");
        };
        document.getElementById("pulmonary_hypertension_sound").onclick = function() {
            showElement("pulmonary_hypertension_sound");
        };
        document.getElementById("tetralogy_of_fallot_sound").onclick = function() {
            showElement("tetralogy_of_fallot_sound");
        };
        document.getElementById("ventricular_aneurysm_sound").onclick = function() {
            showElement("ventricular_aneurysm_sound");
        };
        document.getElementById("ebstein_anomaly_sound").onclick = function() {
            showElement("ebstein_anomaly_sound");
        };
    </script>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Create a Wavesurfer instance
        var wavesurfer = WaveSurfer.create({
            container: '#hbr_div',
            waveColor: 'black',
            progressColor: 'green',
            loop: true,
            autoplay: true,
            volume: 0, // Start muted
            barWidth: 1
        });

        // Load the audio file
        wavesurfer.load('/static/audio/heart/acute_myocardial_infarction/A/combined_audio.wav');

        // Add an event listener to play the audio when the waveform is ready
        wavesurfer.on('ready', function () {
            // Optional: Auto-play the audio
            // wavesurfer.play();
        });
        wavesurfer.on('finish', function () {
            wavesurfer.seekTo(0); // Seek to the beginning
            wavesurfer.play();    // Resume playback
        });
    });
    </script>

    {% include 'elements/Scripts/showLeftNavBar.html' %}

    {% include 'elements/Scripts/footerButtons.html' %}

    <!-- Range Input Controls -->
    {% include 'elements/Scripts/rangeInput/normal_heart_sound.html' %}
    {% include 'elements/Scripts/rangeInput/fourth_heart_sound.html' %}
    {% include 'elements/Scripts/rangeInput/split_first_heart_sound.html' %}
    {% include 'elements/Scripts/rangeInput/split_second_heart_sound.html' %}
    {% include 'elements/Scripts/rangeInput/third_heart_sound.html' %}

    {% include 'elements/Scripts/blink.html' %}

    <!-- JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>